<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mediQ</title>
</head>
<body>
    <form action="/search/list" method="get">
        <div> 
            <input type="text" name="input">
            <button id="search">검색</button>
        </div>
    </form>
</body>
</html>